 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins","Zain", sans-serif;

}



.v-main{
  background-color: black;
}
body {
    color: black;
    background-color: black;
    padding: 12px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .bg-black {
    background-color: black;
  }
  .bg-yellow {
    background-color: #F2C94C;
  }
  .bg-yellow-400 {
    background-color: #f2c84cd9;
  }
  .text-yellow {
    color: #F2C94C;
  }
  
  .bf-discrption {
    color: #888888;
  }
  .text-discrption {
    color: #888888;
  }
  .input-filed {
    background-color: #2B2B2B;
    color: rgba(255, 255, 255, 0.800);
  }



  .font-weight-light {
    font-weight: lighter !important;
  }
  
  .font-weight-normal {
    font-weight: normal !important;
  }
  
  .font-weight-medium {
    font-weight: 500 !important;
  }
  
  .font-weight-bold {
    font-weight: 400 !important;
  }
  
  .font-weight-bolder {
    font-weight: 700 !important;
  }
  .font-weight-bolder-max {
    font-weight: 900 !important;
  }
  .font-italic {
    font-style: italic !important;
  }
  
  .text-uppercase {
    text-transform: uppercase !important;
  }
  
  .text-lowercase {
    text-transform: lowercase !important;
  }
  
  .text-capitalize {
    text-transform: capitalize !important;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-justify {
    text-align: justify !important;
  }
  
  .justify-conten {
    justify-content: space-around;
  }

  .text-no-wrap {
    white-space: nowrap !important;
  }



  .horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }

  ::-webkit-scrollbar {
    
    width: 16px; 
    height: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #888;
    border-radius: 5px; 
  }

.fa-1x{
  font-size: 1.5em;
}
.fa0-5x{
  font-size: 0.6em;
}

.itmes {
  display: flex;
  width: 100%;
  justify-content: space-around;

  padding: 10px;
  height: auto;
}
.item {
  margin: auto;
  min-width: 150px;
  max-width: 120px;

}
.title {
  font-weight: bold;
  color: white;
  padding: 10px;
  height: 70px;
}

.bg-movie{
  border-radius: 10px;
  background: #eaeaea1c;
}

